<div class="product-details-container" *ngIf="product() as p">
  <div class="product-image">
    <img [src]="p.imageUrl || 'assets/placeholder.svg'" alt="{{ p.model }}" />
  </div>

  <div class="product-content">
    <mat-card class="product-description">
      <mat-card-title>{{ p.brand }} - {{ p.model }}</mat-card-title>
      <!-- //TODO: ADD TRANSLATION -->
      <mat-card-content>
        <p>
          <strong>Price:</strong>
          {{ p.price | currency }}
        </p>
        <p>
          <strong>CPU:</strong>
          {{ p.cpu }}
        </p>
        <p>
          <strong>RAM:</strong>
          {{ p.ram }}
        </p>
        <p>
          <strong>OS:</strong>
          {{ p.os }}
        </p>
        <p>
          <strong>Resolution:</strong>
          {{ p.displayResolution }}
        </p>
        <p>
          <strong>Battery:</strong>
          {{ p.battery }}
        </p>
        <p>
          <strong>Cameras:</strong>
          {{ p.cameras }}
        </p>
        <p>
          <strong>Dimensions:</strong>
          {{ p.dimensions }}
        </p>
        <p>
          <strong>Weight:</strong>
          {{ p.weight }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="product-actions">
      <mat-card-content>
        <p>Select your options before purchase:</p>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Color</mat-label>
          <mat-select
            [value]="masterStore.selectedColor()"
            (selectionChange)="masterStore.setColor($event.value)"
            [disabled]="p.colors?.length === 0"
          >
            <mat-option *ngFor="let color of p.colors" [value]="color">
              {{ color.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Storage</mat-label>
          <mat-select
            [value]="masterStore.selectedStorage()"
            (selectionChange)="masterStore.setStorage($event.value)"
            [disabled]="p.storages?.length === 0"
          >
            <mat-option *ngFor="let storage of p.storages" [value]="storage">
              {{ storage.capacity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Buy Now</button>
        <button mat-raised-button color="accent" (click)="addToCart()">
          Add to Cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
