<mat-toolbar color="primary">
  <div class="toolbar-left">
    <a routerLink="/" class="logo" mat-button>
      <mat-icon aria-hidden="false" aria-label="Tienda">storefront</mat-icon>
      <span class="brand-title">Phone Shop</span>
    </a>
    <button
      mat-icon-button
      (click)="toggleTheme()"
      aria-label="Cambiar tema"
      class="dark-mode-btn"
    >
      <mat-icon>{{ darkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>
  </div>

  <div class="toolbar-right">
    <button mat-icon-button [matMenuTriggerFor]="cartMenu">
      <mat-icon matBadge="{{ cartCount() }}" matBadgeColor="warn">
        shopping_cart
      </mat-icon>
    </button>

    <mat-menu #cartMenu="matMenu" class="cart-menu">
      <ng-container *ngIf="cart().length > 0; else emptyCart">
        <mat-list class="cart-items">
          <mat-list-item *ngFor="let item of cart()">
            <div class="cart-item-content">
              <div class="cart-item-text">
                <a
                  (click)="navigateToProduct(item.id)"
                  matTooltip="{{ item.brand }} - {{ item.model }}"
                  class="item-link"
                >
                  <strong>{{ item.brand }} - {{ item.model }}</strong>
                </a>
                <span class="item-meta">
                  x{{ item.quantity }} · {{ item.price | currency }}
                </span>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        <div class="cart-footer">
          <p class="cart-total">
            <strong>Total:</strong>
            {{ getTotalPrice() | currency }}
          </p>
          <div class="cart-actions">
            <button mat-stroked-button color="warn" (click)="clearCart()">
              Clear Cart
            </button>
            <button mat-flat-button color="primary" routerLink="/checkout">
              Checkout
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #emptyCart>
        <p class="empty-cart">Your cart is empty</p>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>
