:host {
  display: block;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px; // Tamaño estándar en Angular Material, se adapta bien a móvil y escritorio
  flex-shrink: 0; // Evita que el header altere el tamaño del grid
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.brand-title {
  margin-left: 8px;
  font-weight: 500;

  @media (max-width: 767px) {
    display: none; // Oculta "Phone Shop" en móviles
  }
}

.dark-mode-btn {
  margin-left: 12px;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toolbar-right {
  display: flex;
  align-items: center;
}
