:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 56px);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.search-wrapper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;

  @media (max-width: 767px) {
    justify-content: center;
    padding: 0;
  }
}

/* Buscador */
.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
  max-width: 30%;
  width: 100%;

  @media (max-width: 767px) {
    width: 90%;
    max-width: none;
    margin: 0 auto;
  }
}

.custom-search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
  color: inherit;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.clear-button {
  margin-left: 8px;
}

.product-grid {
  display: grid;
  padding: 16px;
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }
}

.footer {
  flex-shrink: 0;
  padding: 16px;
  text-align: center;
  margin-top: 16px;
}

.image-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-info {
  padding: 12px;
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.quick-specs {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  font-size: 0.9rem;

  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  mat-icon {
    font-size: 18px;
  }
}
