@use '@angular/material' as mat;
@use 'colors' as colors;

html.dark-mode {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: colors.$secondary-palette,
      tertiary: colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html.light-mode {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: colors.$primary-palette,
      tertiary: colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
